
// 引入默认全局样式
@import '@alifd/next/reset.scss';
.buttonGroup {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px;
};
.pageBox{
  padding-bottom: 10px;
  position: relative;
};
.legendBox{
  width:400px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  left: -200px;
};
.finishIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background-color: #00CB15;
  border: 1px solid #00CB15;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 30px;
};
.doingIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background-color: #F5BD00;
  border: 1px solid #F5BD00;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 30px;
};
.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background-color: #A0A2AD;
  border: 1px solid #A0A2AD;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 30px;
};
.projectBox{
  font-size: 30px;
};
.title{
  font-size: 24px;
  line-height: 24px;
}
.auditPass{
  color: #00CB15;
  display: inline-block;
  margin-left: 20px;
  padding:2px 5px;
  border: 2px solid #00CB15;
  border-radius: 8px;
  font-size: 20px;
}
.auditNopass{
  color: #FF1A1A;
  display: inline-block;
  margin-left: 20px;
  padding:2px 5px;
  border: 2px solid #FF1A1A;
  border-radius: 8px;
  font-size: 20px;
}
.auditWait{
  color: #FFB71A;
  display: inline-block;
  margin-left: 20px;
  padding:2px 5px;
  border: 2px solid #FFB71A;
  border-radius: 8px;
  font-size: 20px;
};
.money{
  font-size: 16px;
}
